checkpoints/
dataset/maps_train/
dataset/maps_eval/
dataset/maps_train_inpaint/
dataset/maps_eval_inpaint/
dataset/.cache/

*.pt
*.pth
*.tar.gz
*.zip

*.idea/
*.vscode/

__pycache__/
*.pyc
*.pyo
*.pyd
